<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Unosmium" %></title>
  <% if current_page.data.description %>
    <meta name="Description" content="<%= current_page.data.description %>">
  <% end %>
    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="<%= rel_link_prefix(current_page.path) %>main.css" rel="stylesheet" />
    <link href="<%= rel_link_prefix(current_page.path) %>images/favicon.png" rel="icon" type="image/png" />
  <% if current_page.data.manifest %>
    <link rel="manifest" href="<%= current_page.data.manifest %>">
  <% end %>
  </head>
  <body>
    <%= yield %>
    <script src="<%= rel_link_prefix(current_page.path) %>main.js"></script>
  </body>
</html>
