<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Unosmium" %></title>
  <% if current_page.data.description %>
    <meta name="Description" content="<%= current_page.data.description %>">
  <% end %>
    <link href="<%= rel_link_prefix(current_page.path) %>main.css" rel="stylesheet" />
    <link href="<%= rel_link_prefix(current_page.path) %>images/favicon.png" rel="icon" type="image/png" />
  <% if current_page.data.custom_colors %>
    <style type="text/css">
      <% color = find_bg_color(File.basename(current_page.path, '.html')) %>
      .results-classic-thead-background {
        background-color: <%= color %> !important;
      }
      .btn, .custom-control-label::after {
        color: <%= color %> !important;
      }
      <%= trophy_and_medal_css(i.tournament.trophies, i.tournament.medals) %>
    </style>
  <% end %>
  <% if current_page.data.manifest %>
    <link rel="manifest" href="<%= current_page.data.manifest %>">
  <% end %>
  </head>
  <body>
    <%= yield %>
    <script src="<%= rel_link_prefix(current_page.path) %>main.js"></script>
  </body>
</html>
