---
title: Unosmium Results | Unosmium — Improving Science Olympiad scoring and results
description: Find the overall standings and event scores for dozens of Science Olympiad tournaments!

manifest: /results/manifest.json
---
<% data_by_date = all_tournaments(data)
  .sort do |rep1, rep2|
     rep1 = rep1.last
     rep2 = rep2.last

     compare = rep2[:Tournament][:date] <=> rep1[:Tournament][:date]
     next compare unless compare.zero?
     compare = rep1[:Tournament][:state] <=> rep2[:Tournament][:state]
     next compare unless compare.zero?
     compare = rep1[:Tournament][:location] <=> rep2[:Tournament][:location]
     next compare unless compare.zero?
     rep1[:Tournament][:division] <=> rep2[:Tournament][:division]

   end %>
<!-- The MIT License (MIT)
     Copyright (c) 2016 Tim Holman
     http://tholman.com/github-corners/
     BEGIN -->
<a href="https://github.com/unosmium/unosmium.org" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#06021C; color:#fafafa; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>
<!-- END -->

<div class="search-wrapper" id="top">
<header class="jumbotron jumbotron-fluid results-index bg-primary">
  <div class="container">
    <h1 class="text-light text-center"><a href="/"><i class="material-icons u-logo">whatshot</i>nosmium</a> Results</h1>
  <p class="lead text-light text-center">Powered by
  <a href="https://github.com/unosmium/sciolyff">SciolyFF
    <img src="/images/github.svg" alt="on GitHub" class="sciolyff-github">
  </a></p>
  </div>
</header>

<div class="container py-5">
  <div class="form-group">
    <div class="floating-label floating-label-lg">
      <label for="searchTournaments">
        <i class="material-icons">search</i>
        <i>Search tournaments</i>
      </label>
      <input aria-describedby="searchTournamentsHelp" class="form-control" id="searchTournaments" type="text" placeholder="e.g. nats div c 2017" autocomplete="off">
      <span id="searchTournamentsHelp" class="form-text text-muted">
        Find the overall standings and event scores for dozens of Science Olympiad tournaments!
      </span>
    </div>
  </div>
</div>

<div class="container" id="hide-on-search">
<div class="row mt-3 pb-5 mb-5">
<div class="col-md-8">
  <h4>Upcoming</h4>
  <h5>Saturday, January 25, 2020</h5>
  <ul>
    <li><a href="http://scioly.mit.edu/">
      MIT Science Olympiad Invitational @ MIT (Div C.)
    </a></li>
  </ul>
  <h5>Saturday, February 1, 2020</h5>
  <ul>
    <li><a href="https://sites.google.com/view/shsso-invitational">
      Solon High School Science Olympiad Invitational @ Solon High School (Div C.)
    </a></li>
  </ul>
  <h4>Recently added</h4>
  <ul class="recently-added">
  <% data.recents.each do |f| %>
    <% t = data.send(f.delete_suffix('.yaml').to_sym)[:Tournament] %>
    <li>
      <div><a href="/results/<%= f.delete_suffix('.yaml') %>.html" class="full-results">
        <%= "#{t[:date].year} #{tournament_title(t)} (Div. #{t[:division]})"%>
        </a></div>
    <% if false %><%# remove this surrounding if statement if transition splash screens are enabled again %>
      <div class="splash-wrapper"><img src="<%= find_logo_path(f) %>"/></div>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
<div class="col-md-4">
  <h4>Archive Totals</h4>
  <dl>
    <dt><%= data_by_date.count { |_, rep| rep[:Tournament][:level] == 'Nationals' } %></dt>
    <dd>National Tournaments</dd>
    <dt><%= data_by_date.count { |_, rep| rep[:Tournament][:level] == 'States' } %></dt>
    <dd>State Tournaments</dd>
    <dt><%= data_by_date.count { |_, rep| rep[:Tournament][:level] == 'Regionals' } %></dt>
    <dd>Regionals</dd>
    <dt><%= data_by_date.count { |_, rep| rep[:Tournament][:level] == 'Invitational' } %></dt>
    <dd>Invitationals</dd>
  </dl>
  <a href="https://docs.google.com/spreadsheets/d/1bkDCZD1NYYsS8L8m_e_cZ2kn9dZm2vufC4U9hNum6Hg/">Help contribute!</a>
</div>
</div>
</div>
<a href="#all" id="see-all"
   role="button" class="btn btn-flat-secondary btn-lg btn-block">
  See all tournaments<br><i class="material-icons">expand_more</i>
</a>
</div>

<main id="all" class="container-fluid py-4 bg-light-3 shadow" aria-label="Content">
<style id="search_style"></style>
<div class="results-index-card-grid">
<% i = 1 %>
<% data_by_date.each do |filename, rep| %>
  <% t = SciolyFF::Helper.new(rep) %>
  <% teams = t.sort_teams_by_rank %>

  <div class="card" data-search="<%= search_string(t) %>">
    <div class="card-header text-light shadow-sm"
         style="background-color: <%= find_bg_color(filename) %>">
      <h2 class="card-title">
        <%= t.tournament[:date].year %>
        <%= tournament_title(t.tournament) %>
        <span class="badge division-<%= t.tournament[:division].downcase %>">
          <small>Division <%= t.tournament[:division] %></small>
        </span>
      </h2>
      <h3 class="card-subtitle">
        <%= t.tournament[:date].strftime('%A, %B %-d, %Y') %>
        @ <%= t.tournament[:location] %>
      </h3>
    </div>
    <div class="card-body splash-wrapper"
         data-toggle="collapse"
         data-target="#summary-<%= i %>"
         aria-expanded="false"
         aria-controls="summary-<%= i %>">
      <img class="lazy"
           data-src="<%= find_logo_path(filename) %>"
           alt="Tournament logo"/>
      <div class="summary collapse" id="summary-<%= i %>">
        <dl class="list-unstyled row">
          <dt class="col-sm-3">Champion</dt>
          <dd class="col-sm-9">
            <%= format_school(teams[0]) %>
            <%= teams[0][:suffix] %>
            <small><%= teams[0][:state] %></small>
            (<%= t.team_points(teams[0][:number]) %> pts)
          </dd>
          <dt class="col-sm-3">Runner-up</dt>
          <dd class="col-sm-9">
            <%= format_school(teams[1]) %>
            <%= teams[1][:suffix] %>
            <small><%= teams[1][:state] %></small>
            (<%= t.team_points(teams[1][:number]) %> pts)
          </dd>
          <dt class="col-sm-3">Third-place</dt>
          <dd class="col-sm-9">
            <%= format_school(teams[2]) %>
            <%= teams[2][:suffix] %>
            <small><%= teams[2][:state] %></small>
            (<%= t.team_points(teams[2][:number]) %> pts)
          </dd>
          <dt class="col-sm-3 d-none d-sm-block">Fourth-place</dt>
          <dd class="col-sm-9 d-none d-sm-block">
            <%= format_school(teams[3]) %>
            <%= teams[3][:suffix] %>
            <small><%= teams[3][:state] %></small>
            (<%= t.team_points(teams[3][:number]) %> pts)
          </dd>
          <dt class="col-sm-3 d-none d-sm-block">Fifth-place</dt>
          <dd class="col-sm-9 d-none d-sm-block">
            <%= format_school(teams[4]) %>
            <%= teams[4][:suffix] %>
            <small><%= teams[4][:state] %></small>
            (<%= t.team_points(teams[4][:number]) %> pts)
          </dd>
          <dt class="col-sm-3 d-none d-sm-block">Sixth-place</dt>
          <dd class="col-sm-9 d-none d-sm-block">
            <%= format_school(teams[5]) %>
            <%= teams[5][:suffix] %>
            <small><%= teams[5][:state] %></small>
            (<%= t.team_points(teams[5][:number]) %> pts)
          </dd>
        </dl>
      </div>
    </div>
    <div class="card-footer card-actions bg-light">
      <button class="btn btn-outline-primary">Summary</button>
      <a href="/results/<%= filename.delete_suffix('.yaml') %>.html" class="btn btn-outline-primary full-results">Full Results</a>
    </div>
  </div>

  <% i += 1 %>
<% end %>
</div>
<a href="#top" class="btn btn-float btn-light" id="scroll-back" role="button"><i class="material-icons">expand_less</i></a>
</main>
<script>
// This is the service worker with the combined offline experience (Offline page + Offline copy of pages)

// Check compatibility for the browser we're running this in
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("[PWA Builder] active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("/results/pwabuilder-sw.js", {
        scope: "/results/"
      })
      .then(function (reg) {
        console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
      });
  }
}
</script>
