<% t = SciolyFF::Helper.new(data[tournament]) %>

<div class="results-classic-sticky-wrapper">
<div class="results-classic-thead-background bg-secondary-dark shadow-sm">
  <div class="results-classic-header text-light">
    <h1 class="display-4 mb-0">
      <%= t.tournament[:year] %>
      <%= t.tournament[:level] %> Div.
      <%= t.tournament[:division] %>
    </h1>
    <p class="lead mb-2">@ <%= t.tournament[:location] %></p>
    <p><%= t.tournament[:date].strftime('%A, %B %-d, %Y') %></p>
    <div class="actions">
      <a href="/results"><i class="material-icons text-light">arrow_back</i></a>
      <a href="/data/<%= File.basename(current_page.path, '.html') + '.yaml' %>">
        <i class="material-icons text-light">file_download</i>
      </a>
      <a href="#" onclick="window.print()">
        <i class="material-icons text-light">print</i>
      </a>
      <select id="sort-select" class="custom-select custom-select-sm text-light">
        <option value="number">by Number</option>
        <option value="school">by School</option>
        <option value="rank" selected>by Rank</option>
      </select>
    </div>
    <p class="source">
      Source:
      <a href="https://unosmium.netlify.com<%= current_page.url %>">
        Unosmium Results
      </a>
    </p>
  </div>
</div>
<table class="results-classic table-hover">
<colgroup>
  <col>
  <col>
  <col>
  <col>
</colgroup>
<colgroup class="event-columns">
<% t.events_by_name.count.times do %>
  <col>
<% end %>
</colgroup>
<thead>
  <tr class="text-light">
    <th class="number">#</th>
    <th class="school">School</th>
    <th class="rank">Rank</th>
    <th class="total-points">Total</th>
  <% t.events_by_name.values.sort do |a, b|
       if a[:trial] && !b[:trial] then 1
       elsif !a[:trial] && b[:trial] then -1
       else a[:name] <=> b[:name]
       end
     end.each do |e| %>
    <th class="event-points">
      <%= e[:name] %>
    <% if e[:trial] %>
      <span class="badge badge-info"><small>Trial</small></span>
    <% elsif e[:trialed] %>
      <span class="badge badge-warning"><small>Trialed</small></span>
    <% end %>
    </th>
  <% end %>
  </tr>
</thead>
<tbody>
<% t.sort_teams_by_rank.each.with_index do |tm, i| %>
  <tr>
    <td class="number"><%= tm[:number] %></td>
    <td class="school"><%= tm[:school] %> <small><%= tm[:state] %></small></td>
    <td class="rank" data-points="<%= i + 1 %>"><%= i + 1 %></td>
    <td class="total-points"><%= t.team_points tm[:number] %></td>
  <% t.events_by_name.values.sort do |a, b|
       if a[:trial] && !b[:trial] then 1
       elsif !a[:trial] && b[:trial] then -1
       else a[:name] <=> b[:name]
       end
     end.each do |e| %>
    <% ep = t.event_points tm[:number], e[:name] %>
    <td class="event-points" data-points="<%= ep %>"><%= ep %></td>
  <% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>
