---
custom_colors: true
---
<% i = SciolyFF::Interpreter.new(data.send(tournament)) %>

<% current_page.data.title =
  "#{i.tournament.date.year} "\
  "#{tournament_title_short(i.tournament)} " \
  "(Div. #{i.tournament.division}) | Unosmium Results" %>

<% champion = i.tournament.teams[0] %>
<% runnerup = i.tournament.teams[1] %>
<% current_page.data.description =
  "Full results for the #{i.tournament.date.year} "\
  "#{tournament_title(i.tournament)} "\
  "(Division #{i.tournament.division}), "\
  "Champion: #{champion.school} "\
  "#{champion.suffix ? champion.suffix + " " : ""}"\
  "(#{champion.points} pts), "\
  "Runner-up: #{runnerup.school} "\
  "#{runnerup.suffix ? runnerup.suffix + " " : ""}"\
  "(#{runnerup.points} pts), "\
  "Total teams: #{i.teams.count { |t| !t.exhibition? }}" %>

<div class="results-classic-wrapper">
<div class="results-classic-thead-background shadow-sm"
     style="min-width: <%= 2*(i.events.count + 1) + 28.5 %>em;">
  <div class="results-classic-header"
       style="width: <%= 2*(i.events.count + 1) + 28 %>em">
    <div class="tournament-info">
      <h1>
        <%= i.tournament.date.year %>
        <%= tournament_title(i.tournament) %>&nbsp;(Div. <%= i.tournament.division %>)
      </h1>
      <p><%= i.tournament.date.strftime('%A, %B %-d, %Y') %>
         @ <span style="white-space: nowrap;"><%= i.tournament.location %></span></p>
    </div>
    <div class="actions">
      <a href="../results/index.html" class="js-back-button">
        <i class="material-icons">arrow_back</i>
      </a>
      <button type="button" data-toggle="modal" data-target="#download-info">
        <i class="material-icons">file_download</i>
      </button>
      <button type="button" data-toggle="modal" data-target="#print-instructions">
        <i class="material-icons">print</i>
      </button>
      <button type="button" id="share-button">
        <i class="material-icons">share</i>
      </button>
      <select id="event-select" class="custom-select custom-select-sm"
              aria-label="Select Event Filter">
        <option value="all" selected>All Events</option>
      <% i.events.each.with_index do |e, i| %>
        <option value="<%= i %>">
          <%= e.name %>
          <% if e.trial? %>
            (Trial)
          <% elsif e.trialed? %>
            (Trialed)
          <% end %>
        </option>
      <% end %>
      </select>
      <select id="sort-select" class="custom-select custom-select-sm"
              aria-label="Select Sort Method">
        <option value="number">by Number</option>
        <option value="school">by School</option>
        <option value="state">by State</option>
        <option value="rank" selected>by Rank</option>
      </select>
      <button type="button" data-toggle="modal" data-target="#filters" class="settings">
        <i class="material-icons">filter_list</i>
      </button>
    </div>
    <p class="source">
      Source:
      <a href="https://unosmium.org<%= current_page.url %>">
        Unosmium Results
      </a>
    </p>
  </div>
</div>
<table class="results-classic table-hover">
<colgroup>
  <col>
  <col>
  <col>
  <col>
  <col>
</colgroup>
<colgroup class="event-columns">
<% i.events.count.times do %>
  <col>
<% end %>
  <col> <%# for team penalties, which kinda act like an additional event %>
</colgroup>
<thead>
  <tr>
    <th class="number">#</th>
    <th class="team">Team</th>
    <th class="event-points-focus"><div></div></th>
    <th class="rank"><div>Overall</div></th>
    <th class="total-points">Total</th>
  <% i.events.each do |e| %>
    <th class="event-points">
      <%= e.name %>
    <% if e.trial? %>
      <a tabindex="0" role="button"
         data-toggle="popover" data-trigger="focus"
         title="Trial Event"
         data-content="Placings in this event did not count towards total
                       team score">
        <span class="badge badge-info"><small>T</small></span>
      </a>
    <% elsif e.trialed? %>
      <a tabindex="0" role="button"
         data-toggle="popover" data-trigger="focus"
         title="Trialed Event"
         data-content="Placings in this event did not count towards total
                       team score because of unforseen circumstances during
                       the competition">
        <span class="badge badge-danger"><small>Td</small></span>
      </a>
    <% end %>
    </th>
  <% end %>
  <th class="team-penalties">Team Penalties</th>
  </tr>
</thead>
<tbody>
<% i.teams.each do |tm| %>
  <tr data-team-number="<%= tm.number %>">
    <td class="number">
      <a href="#" data-toggle="modal" data-target="#team-detail">
        <%= tm.number %>
      </a>
    </td>
    <td class="team">
      <%= format_school(tm) %>
      <%= tm.suffix %>
      <%= "(#{tm.city})" if tm.city %>
      <small><%= tm.state %></small>
    <% if tm.exhibition? %>
      <a tabindex="0" role="button"
         data-toggle="popover" data-trigger="focus"
      <% if team_attended?(tm) %>
         title="Exhibition Team"
         data-content="Placings by this team did not affect the ranks of other
                       teams (except in Trial Events)">
        <span class="badge badge-warning"><small>Ex</small></span>
      <% else %>
         title="Absent Team"
         data-content="This team registered but did not compete, and so was
                       treated as an Exhibition Team">
        <span class="badge badge-light"><small>Ab</small></span>
      <% end %>
      </a>
    <% end %>
    </td>
    <td class="event-points-focus" data-points=""><div></div></td>
    <td class="rank" data-points="<%= tm.rank %>"><div><%= tm.rank %></div></td>
    <td class="total-points"><%= tm.points %></td>
  <% i.events.each do |e| %>
    <% placing = e.placing_for(tm) %>
    <% points = placing.isolated_points %>
    <% place = placing.place %>
    <% unknown = placing.unknown? %>
    <% exempt = placing.exempt? %>
    <td class="event-points"
        data-points="<%= unknown ? '??' : points %>"
        data-place="<%= place ? place : 999000 + points %>">
      <div><%= unknown ? '??' : points %><%= '<sup>⬨</sup>' if exempt %></div>
    </td>
  <% end %>
    <% pen_points = tm.penalties.sum(&:points) %>
    <td class="team-penalties text-muted" data-points="<%= pen_points %>">
      <%= pen_points.zero? ? "00" : "+#{pen_points}" %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<div class="results-classic-footnotes"
     style="width: <%= 2*(i.events.count + 1) + 28 %>em">
<% if data.send(tournament)['Placings'].find { |p| p[:exempt] }%>
  <div class="wrapper">
    <p class="footnote">
    <sup>⬨</sup>Result was not counted as part of total score
    </p>
  </div>
<% end %>
</div>
</div>
<div class="modal" id="filters" tabindex="-1" role="dialog"
     aria-labelledby="filters-label" aria-hidden="true">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filters-label">
          Filters
        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true" style="vertical-align: super">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Select which medals to highlight</h6>
        <div id="medal-filter">
      <% (1..6).each do |x| %>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input"
                 id="medal<%= x %>" checked>
          <label class="custom-control-label" for="medal<%= x %>">
            <% suffix =  case x
                         when 1 then 'st'
                         when 2 then 'nd'
                         when 3 then 'rd'
                         when 4..6 then 'th'
                         end %>
            <%= x %><sup><%= suffix %></sup> place medals
          </label>
        </div>
      <% end %>
        </div>
        <hr>
        <h6>Select which teams to show</h6>
        <div id="team-filter">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   id="allTeams" checked>
            <label class="custom-control-label" for="allTeams">
              All Teams
            </label>
          </div>
        <% i.teams.sort_by(&:number).each do |tm| %>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   id="team<%= tm.number %>" checked>
            <label class="custom-control-label" for="team<%= tm.number %>">
              <%= tm.number %> <%= format_school(tm) %>
              <%= tm.suffix %>
              <%= "(#{tm.city})" if tm.city %>
              <small><%= tm.state %></small>
            </label>
          </div>
        <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="print-instructions" tabindex="-1" role="dialog"
     aria-labelledby="print-instructions-label" aria-hidden="true">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="print-instructions-label">
          Instructions for printing
        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true" style="vertical-align: super">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>For best results, ensure the following:</p>
        <ul>
          <li>You are using Chrome or Safari. (Sorry, Firefox users.)</li>
          <li>The printer is set to "Save as PDF", not "Microsoft Print to PDF".</li>
        </ul>
        <p class="small">
          Note: You may want to use your browser's Print Preview feature instead
          of the button below.
        </p>
        <p>
          The output will be in style of official results from the National
          competition, suitable for distributing to teams after awards.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-secondary" onclick="window.print();">
          Print
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="download-info" tabindex="-1" role="dialog"
     aria-labelledby="download-info-label" aria-hidden="true">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download-info-label">
          About downloading
        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true" style="vertical-align: super">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          To download these results as a PDF, select CANCEL and see the
          instructions for printing (<i class="material-icons">print</i>)
          instead.
        </p>
        <p>
          The results will be downloaded as a YAML file, specifically in the
          SciolyFF, and can be opened with any text editor or parsed with your
          favorite programming language. For more info about SciolyFF, see its
          <a href="https://github.com/unosmium/sciolyff">GitHub repository</a>.
        </p>
        <p>
          If you really want a CSV file, select CANCEL, copy the whole table
          using <kbd>Ctrl+A</kbd> and <kbd>Ctrl+C</kbd>, then paste into a new
          <a href="https://docs.google.com/spreadsheets/">Google Sheets</a>
          spreadsheet and do File &gt; Download as &gt; Comma-separated values.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <a role="button" class="btn btn-secondary"
           href="../data/<%= File.basename(current_page.path, '.html') + '.yaml' %>">
          Download
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="team-detail" tabindex="-1" role="dialog"
     aria-labelledby="team-detail-label" aria-hidden="true">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="team-detail-label">
          Team Detail
        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true" style="vertical-align: super">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Summary</h6>
        <p>[team] placed [place] overall with a total score of [points] points at [tournament] on [date]</p>
        <hr>
        <div class="table-responsive-sm">
        <table class="table-striped">
        <thead>
          <tr>
            <th class="event">Event</th>
            <th class="points">Points</th>
            <th class="place">Place</th>
            <th class="notes">Notes</th>
          </tr>
        </thead>
        <tbody>
        <% i.events.each do |e| %>
          <tr>
            <td class="event">
              <%= e.name %>
              <% if e.trial? %>
                (Trial)
              <% elsif e.trialed? %>
                (Trialed)
              <% end %>
            </td>
            <td class="points"></td>
            <td class="place"></td>
            <td class="notes"></td>
          </tr>
        <% end %>
        </tbody>
        </table>
        </div>
        <hr>
        <h6>Other Results (Coming Soon™)</h6>
        <p><a href="#">View [school]'s other tournament results</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="snackbar" id="share-snack">
  <div class="snackbar-body">
    <%# populated using JS %>
  </div>
</div>
