<% t = SciolyFF::Helper.new(data[tournament]) %>
<% events = t.events_by_name.values.sort do |a, b|
              if a[:trial] && !b[:trial] then 1
              elsif !a[:trial] && b[:trial] then -1
              else a[:name] <=> b[:name]
              end
            end %>
<% teams_by_rank = t.sort_teams_by_rank %>
<% teams_by_number = t.teams_by_number.sort.map(&:last) %>

<div class="results-classic-wrapper">
<div class="results-classic-thead-background bg-secondary-dark shadow-sm">
  <div class="results-classic-header text-light">
    <h1 class="display-4 mb-0">
      <%= t.tournament[:year] %>
      <%= t.tournament[:level] %> Div.
      <%= t.tournament[:division] %>
    </h1>
    <p class="lead mb-2">@ <%= t.tournament[:location] %></p>
    <p><%= t.tournament[:date].strftime('%A, %B %-d, %Y') %></p>
    <div class="actions">
      <a href="/results"><i class="material-icons text-light">arrow_back</i></a>
      <a href="/data/<%= File.basename(current_page.path, '.html') + '.yaml' %>">
        <i class="material-icons text-light">file_download</i>
      </a>
      <a href="#" onclick="window.print()">
        <i class="material-icons text-light">print</i>
      </a>
      <a href="#" data-toggle="modal" data-target="#team-filter">
        <i class="material-icons text-light">filter_list</i>
      </a>
      <select id="event-select" class="custom-select custom-select-sm text-light"
              aria-label="Select Event Filter">
        <option value="all" selected>All Events</option>
      <% events.each.with_index do |e, i| %>
        <option value="<%= i %>">
          <%= e[:name] %>
          <% if e[:trial] %>
            (Trial)
          <% elsif e[:trialed] %>
            (Trialed)
          <% end %>
        </option>
      <% end %>
      </select>
      <select id="sort-select" class="custom-select custom-select-sm text-light"
              aria-label="Select Sort Method">
        <option value="number">by Number</option>
        <option value="school">by School</option>
        <option value="rank" selected>by Rank</option>
      </select>
    </div>
    <p class="source">
      Source:
      <a href="https://unosmium.netlify.com<%= current_page.url %>">
        Unosmium Results
      </a>
    </p>
  </div>
</div>
<table class="results-classic table-hover">
<colgroup>
  <col>
  <col>
  <col>
  <col>
  <col>
</colgroup>
<colgroup class="event-columns">
<% t.events_by_name.count.times do %>
  <col>
<% end %>
</colgroup>
<thead>
  <tr class="text-light">
    <th class="number">#</th>
    <th class="school">School</th>
    <th class="event-points-focus"><div></div></th>
    <th class="rank"><div>Overall</div></th>
    <th class="total-points">Total</th>
  <% events.each do |e| %>
    <th class="event-points">
      <%= e[:name] %>
    <% if e[:trial] %>
      <span class="badge badge-info"><small>Trial</small></span>
    <% elsif e[:trialed] %>
      <span class="badge badge-warning"><small>Trialed</small></span>
    <% end %>
    </th>
  <% end %>
  </tr>
</thead>
<tbody>
<% rank = 1 %>
<% teams_by_rank.each do |tm| %>
  <tr>
    <td class="number"><%= tm[:number] %></td>
    <td class="school"><%= tm[:school] %> <small><%= tm[:state] %></small></td>
    <td class="event-points-focus" data-points=""><div></div></td>
    <td class="rank" data-points="<%= rank %>"><div><%= rank %></div></td>
    <% rank += 1 unless tm[:exhibition] %>
    <td class="total-points"><%= t.team_points tm[:number] %></td>
  <% events.each do |e| %>
    <% ep = t.event_points tm[:number], e[:name] %>
    <td class="event-points" data-points="<%= ep %>"><div><%= ep %></div></td>
  <% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>
<div class="modal" id="team-filter" tabindex="-1" role="dialog"
     aria-labelledby="team-filter-label" aria-hidden="true">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="team-filter-label">
          Select teams to show
        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true" style="vertical-align: super">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Note: this modal does nothing currently; functionality to be implemented.</p>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input"
                 id="allTeams" checked>
          <label class="custom-control-label" for="allTeams">
            All Teams
          </label>
        </div>
        <hr>
      <% teams_by_number.each do |tm| %>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input"
                 id="team<%= tm[:number] %>" checked>
          <label class="custom-control-label" for="team<%= tm[:number] %>">
            <%= tm[:number] %> <%= tm[:school] %> <small><%= tm[:state] %></small>
          </label>
        </div>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
